
# Private / Local
private_*
local_*

# Gradle
.gradle/
build/

# Eclipse
.settings/
.project
.classpath

# Idea
.idea/
out/
*.iml

# Runtime
log/
*.log
*.hprof
.attach_pid*
hs_err_pid*

# OS
.DS_Store
Thumbs.db

# Others
.java-version

# Added because of custom project settings
hexagon_site/content/
