
# Gradle
.gradle/
build/
local.*

# Maven
/target/
*.versionsBackup

# Eclipse
.settings/
.project
.classpath

# Idea
.idea/
out/
*.iml

# VS Code
.vscode/

# Other Tools
.lazybones/
.java-version

# Runtime
log/
*.log
*.hprof
