---
layout: site_page
---
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <% page.posts.each { post -> %>
                <!--Post Preview-->
                <div class="post-preview">
                    <a href="${post.url}">
                        <h2 class="post-title">${post.title}</h2>
                        <h3 class="post-subtitle">${post.subtitle}</h3>
                    </a>
                    <p class="post-meta">${renderPostDateAndAuthor(post)}</p>
                </div>
                <hr>
            <% } %>

            <!-- Pager -->
            <ul class="pager">

                <div class="row">
                    <% if (page.paginator.next_page) { %>
                    <li class="next col-lg-6 col-md-6 col-sm-6 col-xs-6 col-xs-push-6"><a href="${page.paginator.next_page}" >Older Posts &rarr;</a></li>
                    <% } %>

                    <% if (page.paginator.prev_page) { %>
                    <li class="previous col-lg-6 col-md-6 col-sm-6 col-xs-6 ${page.paginator.next_page ? 'col-xs-pull-6' : ''}"><a href="${link page.paginator.prev_page}" >&larr; Newer Posts  </a></li>
                    <% } %>
                </div>

            </ul>
        </div>
    </div>
</div>

<hr>