<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <% page.footer.social_links.each { link -> %>
                        <li>
                            <a href="${link.link}">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa ${link.fontawesome_icon_class} fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    <% } %>
                </ul>
                <p class="copyright text-muted">${page.footer.text}</p>
            </div>
        </div>
    </div>
</footer>
