
/*noinspection CssUnknownTarget*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);
/*noinspection CssUnknownTarget*/
@import url(https://fonts.googleapis.com/css?family=Oxygen+Mono);

pre, code {
  font-family: 'Oxygen Mono', monospace;
  border: none;
}

.navbar-right > li > a {
  padding-left: 0;
}

footer.footer {
  padding-top: 1em;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.footer .heart {
  color: #FF3B30;
}

body, h1, h2, h3, h4 {
  font-family: Montserrat, helvetica, sans-serif;
}

body {
  font-weight: 300;
  font-size: 16px;
}

h1, h2, h3, h4 {
  color: #88AA00;
  font-weight: bold;
}

div#wrap { margin-top: 75px; }

img#logo {
  margin-top: 7px;
  margin-right: 15px;
  height: 48px;
}

.navbar-default {
  background-color: #AAD400;
  font-size: large;
}

.navbar-brand {
  padding-top: 11px;
  padding-left: 5px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #EEE;
}

.navbar-default .navbar-brand {
  font-weight: bold;
  color: #EEE;
}

.navbar-default .navbar-brand:hover {
  color: #DDD;
}

.navbar-default .navbar-nav>li>a {
  color: #EEE;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #DDD;
}
