
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Mono|Roboto+Slab');

/*
 * HTML
 */
html { background-color: ${siteBackgroundDark}; }

body {
  /* Margin to avoid being covered by sticky navbar */
  padding-top: 60px;
  font-size: 16px;
  background-color: #F5F5F5;
}

body, h1, h2, h3, h4 { font-family: Roboto, helvetica, sans-serif; }

h1, h2, h3, h4 { color: ${siteBackgroundLight}; }

a, a:hover, a:focus { color: ${siteAccentColor}; }

/*
 * Navbar
 */
.navbar-default { background-color: ${siteBackgroundDark}; }

.navbar-default .navbar-brand { padding-top: 12px; }

.navbar-default .nav li a {
  font-weight: bold;
  color: #F5F5F5;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  color: ${siteAccentColor};
}

/*
 * Footer
 */
footer {
  padding: 2em 0;
  font-size: 14px;
  color: #F5F5F5;
  background-color: ${siteBackgroundDark};
}

footer h1 {
  color: ${siteAccentColor};
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  margin: 0 0 3px 0;
}

footer ul {
  line-height: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a, footer a:hover { color: #F5F5F5; }

footer .fa-heart { color: ${siteAccentColor}; }

footer .credits {
  text-align: right;
  font-family: 'Roboto Condensed', helvetica, sans-serif;
}

footer .social-buttons {
  text-align: right;
  margin-top: 0.5em;
}

@media (max-width: 768px) {

  footer .credits {
    margin-top: 0.5em;
    text-align: center;
  }

  footer .social-buttons { text-align: center; }
}
