
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Mono|Roboto+Slab');

body, h1, h2, h3, h4 { font-family: Roboto, helvetica, sans-serif; }

h1, h2, h3, h4 { color: ${siteBackgroundLight}; }

h1 a, h2 a, h3 a, h4 a {
  color: ${siteBackgroundLight};
  text-decoration: none;
}

a, a:hover, a:focus { color: ${siteAccentColor}; }

div.layer a:hover, div.layer a:focus {
    text-decoration: none;
}

pre, code { font-family: 'Roboto Mono', monospace; }

footer .heart { color: ${siteAccentColor}; }

.navbar-brand img { height: 36px; }

.navbar-brand { padding-top: 12px; }

body {
  /* Margin to avoid being covered by sticky navbar */
  padding-top: 60px;
  font-size: 16px;
  background-color: #F5F5F5;
}

html {
  background-color: ${siteBackgroundDark};
}

@media (min-width: 768px) {
  .navbar-nav > li > a { padding-bottom: 0; }
}

/*
 * Theme over Flatly
 */

section h2.section-heading,
section h2.section-subheading,
section h3.section-heading,
section h3.section-subheading {
    text-transform: none;
    font-family: 'Roboto Condensed', helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
}

section h2.section-heading,
section h3.section-heading {
    font-size: 50px;
    margin-bottom: 5px;
}

section h2.section-subheading,
section h3.section-subheading {
    line-height: 26px;
    margin-top: 0;
}

.text-muted {
    color: #303030;
}

.navbar-default {
    background-color: ${siteBackgroundDark};
    padding: 0;
}

.navbar-default .navbar-header {
    margin-left: 13px;
}

.navbar-default .navbar-brand {
    background-size: contain;
    direction: ltr;
    height: 28px;
    width: 100px;
    display: inline-block;
    font-weight: bold;
}

.navbar-default .nav li a {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    color: #F5F5F5;
    text-transform: none;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
    color: ${siteAccentColor};
}

.navbar-toggle {
    margin-right: 45px;
}

/* Trick to prevent anchored links to hide heading behind navbar */
section[id]:before {
    display: block;
    content: " ";
    margin-top: -80px;
    height: 100px;
    visibility: hidden;
}

header {
    background-image: linear-gradient(0deg, ${siteBackgroundLight} 7%, ${siteBackgroundDark} 100%);
    color: #F5F5F5;
    min-height: 1150px;
}

@media (max-height: 1150px) {
    header {
        min-height: 100vh;
    }
}

header .intro {
    max-width: 350px;
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
}

header .intro-logo {
    max-width: 120px;
    padding-bottom: 30px;
}

header .intro-button {
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    padding-left: 50px;
    padding-right: 50px;
}

header .intro-long {
    line-height: 27px;
    font-size: 16px;
    padding-bottom: 60px;
}

header .intro .intro-lead-in {
    font-style: normal;
    font-size: 22px;
    /*line-height: 50px;*/
    margin-bottom: 25px;
    font-family: 'Roboto Condensed', helvetica, sans-serif;
}

header .intro .intro-heading {
    font-style: normal;
}

header .intro-button {
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
}

header .intro .btn-xl {
    background: #F5F5F5;
    border: 1px solid ${siteBackgroundDark};
    border-radius: 2px;
    font-size: 20px;
    color: ${siteBackgroundDark};
    font-weight: normal;
    text-transform: none;
}

header .intro-down-arrow {
    display: inherit;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

@media (min-height: 1150px) {
    header .intro-down-arrow {
        /* Hard code top: 1150 (height of top section) - 20 (bottom) - 36 (image height) = 1094 */
        top: 1094px;
    }
}

@media (max-height: 825px) {
    header .intro-down-arrow {
        display: none;
    }
}

@media(min-width: 768px) {
    header .intro {
        padding-bottom: 200px;
        max-width: 620px;
    }

    header .intro-logo {
        max-width: 238px;
        padding-bottom: 70px;
    }

    header .intro .intro-lead-in {
        font-size: 51px;
        font-style: normal;
        line-height: 50px;
    }

    header .intro .intro-heading {
        margin-bottom: 25px;
        font-size: 90px;
        font-weight: 600;
    }
}

section {
    padding: 50px 0;
}

section h3.section-subheading {
    margin-bottom: 50px;
    font-weight: normal;
}

@media(min-width: 768px) {
    section {
        padding: 50px 0;
    }
}

footer .row {
    font-size: 12px;
    text-align: left;
}

footer .row h4 {
    font-size: 14px;
    padding-left: 40px;
}

footer .row .quicklinks {
    line-height: 25px;
    list-style: none;
    text-align: left;
}

footer .credits {
    font-size: 10px;
    text-align: center;
}

#description p {
    font-weight: 300;
    font-size: 25px;
}

#features .feature-text {
    color: #303030;
    font-size: 16px;
    text-align: center;
    padding-bottom: 5px;
}

#features .feature-title {
    font-weight: bold;
    padding-bottom: 10px;
}

#features .feature-icon {
    height: 130px;
    position: relative;
    text-align: center;
}

#features .feature-icon .fa {
    font-size: 7em;
}

#features .feature-icon img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 80px;
}

#features .link {
    min-height: 235px;
}

#features .link a {
    text-decoration: none;
}

#features .link a:hover {
    color: ${siteAccentColor};
}

#features .link:hover {
    background: #E1F3FD;
}

#features .feature-row {
    padding-bottom: 30px;
}

#features .features-button {
    text-align: center;
    padding-top: 20px;
}

#features {
  background-color: #EFF2F9;
}

#features .features-button a {
    background: #F5F5F5;
    border: 1px solid #3C99EF;
    border-radius: 2px;
    color: #3C99EF;
    padding-left: 50px;
    padding-right: 50px;
}

#featurematrix .table {
    font-weight: normal;
    line-height: 57px;
    font-family: 'Roboto Condensed', helvetica, sans-serif;
}

#featurematrix .table th {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: rgba(48, 48, 48, 0.5);
}

#featurematrix .table tbody tr {
    border-top: 1px solid #D8D8D8;
}

.github-buttons {
  text-align: right;
  margin-top: 1em;
}

footer {
    padding: 2em 0;
    font-size: 14px;
    color: #F5F5F5;
    background-color: ${siteBackgroundDark};
    line-height: 22px;
    letter-spacing: 0;
    margin-top: 3em;
}

footer .footer-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}


footer quicklinks {
    font-size: 14px;
    color: #F5F5F5;
}


footer ul.quicklinks {
    margin: 0;
    padding: 0;
}

footer .footer-title {
    color: ${siteAccentColor};
    text-transform: uppercase;
    font-weight: bold;
}

footer ul.quicklinks a {
    font-size: 14px;
    color: #F5F5F5;
}

footer .quicklink-section {
    padding: 0;
    min-width: 120px;
}

@media (max-width: 768px) {
  footer .quicklink-section { padding-top: 1em; }
  footer .quicklink-section .credits { text-align: center; }
  footer .quicklink-section .github-buttons { text-align: center; }
}

footer .credits {
    font-size: 14px;
    font-weight: normal;
    text-align: right;
    font-family: 'Roboto Condensed', helvetica, sans-serif;
}

footer .credits a {
    color: #F5F5F5;
}

footer .credits span {
    color: ${siteAccentColor};
}

/*
 * Sidebar
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/* Hide for mobile, show later */
.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #3D4E6E; /* ${siteBackgroundLight}; */
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
