
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Mono|Roboto+Slab');

/*
 * HTML
 */
html { background-color: ${siteBackgroundDark}; }

body {
  /* Margin to avoid being covered by sticky navbar */
  padding-top: 60px;
  font-size: 16px;
  background-color: #F5F5F5;
}

body, h1, h2, h3, h4 { font-family: Roboto, helvetica, sans-serif; }

h1, h2, h3, h4 { color: ${siteBackgroundLight}; }

a, a:hover, a:focus { color: ${siteAccentColor}; }

/*
 * Navbar
 */
.navbar-brand img { height: 36px; }

.navbar-brand { padding-top: 12px; }

@media (min-width: 768px) {
  .navbar-nav > li > a { padding-bottom: 0; }
}

.navbar-default {
  background-color: ${siteBackgroundDark};
  padding: 0;
}

.navbar-default .navbar-header { margin-left: 13px; }

.navbar-default .navbar-brand {
  background-size: contain;
  direction: ltr;
  height: 28px;
  width: 100px;
  display: inline-block;
  font-weight: bold;
}

.navbar-default .nav li a {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  color: #F5F5F5;
  text-transform: none;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  color: ${siteAccentColor};
}

.navbar-toggle {
  margin-right: 45px;
}

/*
 * Footer
 */
footer .heart { color: ${siteAccentColor}; }

footer .row {
  font-size: 12px;
  text-align: left;
}

footer .row .quicklinks {
  line-height: 25px;
  list-style: none;
  text-align: left;
}

footer .credits {
  font-size: 10px;
  text-align: center;
}

.github-buttons {
  text-align: right;
  margin-top: 1em;
}

footer {
  padding: 2em 0;
  font-size: 14px;
  color: #F5F5F5;
  background-color: ${siteBackgroundDark};
  line-height: 22px;
  letter-spacing: 0;
  margin-top: 3em;
}

footer ul.quicklinks {
  margin: 0;
  padding: 0;
}

footer .footer-title {
  color: ${siteAccentColor};
  text-transform: uppercase;
  font-weight: bold;
}

footer ul.quicklinks a {
  font-size: 14px;
  color: #F5F5F5;
}

footer .quicklink-section {
  padding: 0;
  min-width: 120px;
}

@media (max-width: 768px) {
  footer .quicklink-section { padding-top: 1em; }
  footer .quicklink-section .credits { text-align: center; }
  footer .quicklink-section .github-buttons { text-align: center; }
}

footer .credits {
  font-size: 14px;
  font-weight: normal;
  text-align: right;
  font-family: 'Roboto Condensed', helvetica, sans-serif;
}

footer .credits a {
  color: #F5F5F5;
}
