
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Mono|Roboto+Slab');

:root {
  --siteColor: #135AA1;
  --siteLogoDark: #0073BB;
  --siteLogoLight: #2B9EE6;
  --siteBackgroundDark: #31415C;
  --siteBackgroundLight: #546691;
  --siteAccentColor: #2B9EE6;
  --siteGray: #F5F5F5;

  --font-family: Roboto, helvetica, sans-serif;
  --font-family-sans-serif: 'Roboto Condensed', helvetica, sans-serif;
  --font-family-monospace: 'Roboto Mono', monospace;

  --font-size-small: 14px;
  --font-size-big: 20px;
}

html { background-color: var(--siteBackgroundDark); }

body {
  background-color: var(--siteGray);
  font-family: var(--font-family);
}

h1, h2, h3, h4 {
  color: var(--siteBackgroundLight);
  font-family: var(--font-family-sans-serif);
}

a, a:hover, a:focus { color: var(--siteAccentColor); }

.text-big { font-size: var(--font-size-big); }

a.navbar-brand img { height: 28px; }

.navbar-dark { background-color: var(--siteBackgroundDark); }

.navbar-dark .navbar-nav .nav-link { color: var(--siteGray); }

.navbar-dark .navbar-nav .nav-link:hover { color: var(--siteAccentColor); }

footer {
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  font-size: var(--font-size-small);
  color: var(--siteGray);
  background-color: var(--siteBackgroundDark);
}

footer h3 {
  color: var(--siteAccentColor);
  font-size: var(--font-size-small);
}

footer ul { list-style: none; }

footer a, footer a:hover { color: var(--siteGray); }

footer .fa-heart { color: var(--siteAccentColor); }

footer #credits { font-family: var(--font-family-sans-serif); }

pre, code { font-family: var(--font-family-monospace); }

code.hljs {
  text-align: left;
  border-radius: 10px;
  border: 2px solid var(--siteBackgroundLight);
  background-color: var(--siteBackgroundDark);
}
