
/*
 * Header
 */
header {
  background-image: linear-gradient(0deg, var(--siteBackgroundLight) 7%, var(--siteBackgroundDark) 100%);
}

header .container h3 { font-family: var(--font-family); }

header a:hover { text-decoration: none; }

header .btn:hover { color: var(--siteBackgroundDark); }

header img#logo { max-width: 200px; }

header.jumbotron { border-radius: 0; }

header.jumbotron h1 {
  color: var(--siteGray);
  font-size: 50px;
}

header.jumbotron h3 {
  color: var(--siteGray);
  font-size: 16px;
  line-height: 27px;
  margin: 15px 20% 40px 20%;
}

header .btn-xl {
  background: var(--siteGray);
  border: 1px solid var(--siteBackgroundDark);
  font-size: 20px;
  color: var(--siteBackgroundDark);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  padding: 10px 50px;
}

@media (max-width: 768px) {

  header img#logo {
    max-width: 150px;
    margin: 10px 0 20px;
  }

  header.jumbotron h1 {
    font-size: 30px;
    margin: 10px 0 10px 0;
  }

  header.jumbotron h3 {
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0 20px 0;
  }

  header .fa-angle-double-down { display: none; }
}

/*
 * Sections
 */
section { padding: 50px 0; }

section h2 { font-size: 50px; }

section h3 {
  line-height: 26px;
  margin-top: 0;
  color: #303030;
  margin-bottom: 50px;
}

/*
 * Features
 */
#features .feature:hover { background: #E1F3FD; }

#features .feature p {
  color: #303030;
  text-align: center;
  padding-bottom: 5px;
}

#features .feature h2 {
  font-weight: bold;
  font-size: 18px;
}

#features .feature .fa { font-size: 7em; }

#features a { text-decoration: none; }

#features a:hover { color: var(--siteAccentColor); }

#features .btn-default {
  margin-top: 50px;
  background: var(--siteGray);
  border: 1px solid #3C99EF;
  color: #3C99EF;
  padding: 10px 50px;
}

/*
 * Feature matrix
 */
#portAdapters table { font-family: var(--font-family-sans-serif); }
