
article p a, article li a {
  text-decoration: underline;
}

.md-header-nav__topic {
  font-weight: bold;
  font-size: 1rem;
  margin-left: -1rem;
}

[data-md-color-primary=indigo] .md-hero {
  background-image: linear-gradient(0deg, #31415C 7%, #546691 100%);
}

.md-hero h1 {
  font-weight: normal;
  line-height: 1.1;
  margin: 0;
}

.md-hero__inner { padding: 0 }

@media(min-width: 768px) {
  .md-hero p {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
  }
}

.md-typeset table:not([class]) th {
  color: rgba(0,0,0,.87);
  background-color: hsla(0,0%,92.5%,.5);
}

.md-footer-copyright__highlight {
  color: hsla(0,0%,100%,.3);
}

.social-buttons {
  margin-top: 5px;
}

.fa-heart {
  color: #2B9EE6;
}

.md-hero p#description a {
  font-weight: bold;
}

.codehilite, .linenodiv {
  font-size: .7rem;
}

.md-typeset .codehilitetable .linenodiv, .md-typeset .highlighttable .linenodiv,
.md-typeset pre>code {
  padding: .525rem .3rem;
}

div.md-hero + nav.md-tabs.md-tabs--active {
  background: #31415C;
  text-align: center;
}

div.md-hero + .md-tabs__item {
    height: 2.4rem;
}

.md-hero {
  font-size: .95rem;
}

.md-tabs__link {
  font-size: .8rem;
}

.md-tabs__link--active {
  font-weight: bold;
}

.md-tabs__item {
  margin-top: -0.8rem
}
