
/*
 * HTML
 */
h1 a, h2 a, h3 a, h4 a {
  color: var(--siteBackgroundLight);
  text-decoration: none;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h1 a:focus, h2 a:focus, h3 a:focus, h4 a:focus {
  color: var(--siteBackgroundLight);
  text-decoration: none;
}

pre, code { font-family: var(--font-family-monospace); }

a.navbar-brand img { height: 28px; }

/* Trick to prevent anchored links to hide heading behind navbar */
h1[id]:before,
h2[id]:before,
h3[id]:before,
h4[id]:before {
  display: block;
  content: " ";
  margin-top: -50px;
  height: 100px;
  visibility: hidden;
}
