
/*
 * HTML
 */
body {
  padding-top: 50px;
  font-size: 14px;
}

h1 a, h2 a, h3 a, h4 a {
  color: var(--siteBackgroundLight);
  text-decoration: none;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h1 a:focus, h2 a:focus, h3 a:focus, h4 a:focus {
  color: var(--siteBackgroundLight);
  text-decoration: none;
}

pre, code { font-family: 'Roboto Mono', monospace; }

/* Trick to prevent anchored links to hide heading behind navbar */
h1[id]:before,
h2[id]:before,
h3[id]:before,
h4[id]:before {
  display: block;
  content: " ";
  margin-top: -70px;
  height: 100px;
  visibility: hidden;
}

/*
 * Small Navbar
 */
.navbar-default .navbar-brand {
  height: auto;
  padding: 5px 15px;
}

.navbar-default .navbar-brand img { height: 32px; }

.navbar-nav > li > a { padding: 10px 15px 0; }

.navbar {
  height: auto;
  min-height: auto;
  margin: 0;
}

@media (max-width: 768px) {

  .navbar-default .navbar-brand { padding-top: 12px; }

  .navbar-default .navbar-brand img {
    height: 36px;
    padding: 0;
  }
}

/*
 * Sidebar
 */
nav h2 {
  font-size: 16px;
  text-transform: uppercase;
}

#sidebar .nav > li > a { padding: 0; }

.sticky-top {
  position: fixed;
  top: 50px;
}
