
on:
  schedule:
    - cron: "59 23 * * *"

permissions:
  contents: read

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v6
        with:
          exempt-issue-labels: pinned
          include-only-assigned: true
          days-before-pr-close: -1
          stale-pr-message: This PR is stale because it has been open 60 days with no activity.
          stale-issue-message:
            "This issue is stale because it has been open 60 days with no activity. Remove stale
            label or comment or this will be closed in 7 days."
          close-issue-message:
            "This issue was closed because it has been stalled for 7 days with no activity."

  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]

    name: build (${{ matrix.os }})
    uses: hexagonkt/.github/.github/workflows/graalvm_gradle.yml@master
    with:
      os: ${{ matrix.os }}
      check_directory: core/build
      ref: develop

  sample_keystores:
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]

    name: sample_keystores (${{ matrix.os }})
    uses: hexagonkt/.github/.github/workflows/graalvm_gradle.yml@master
    with:
      os: ${{ matrix.os }}
      ref: develop
      tasks: createCa createIdentities

  native_test:
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]

    name: native_test (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    steps:
      - uses: al-cheb/configure-pagefile-action@v1.3
        if: ${{ matrix.os == 'windows-latest' }}
        with:
          minimum-size: 16GB
          disk-root: "C:"
      - uses: actions/checkout@v3
        with:
          ref: develop
      - uses: graalvm/setup-graalvm@v1
        with:
          java-version: 21
          distribution: graalvm-community
          cache: gradle
      - run: echo "COMMIT_COUNT=$(git log --oneline --since '24 hours ago' | wc -l)" >> $GITHUB_ENV
      - if: ${{ env.COMMIT_COUNT > 0 }}
        run: ./gradlew --stacktrace nativeTest

  jmh:
    uses: hexagonkt/.github/.github/workflows/graalvm_gradle.yml@master
    with:
      ref: develop
      tasks: jmh

  build_site:
    uses: hexagonkt/hexagon/.github/workflows/site.yml@master
    with:
      ref: develop

  test_publishing:
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]

    name: test_publishing (${{ matrix.os }})
    uses: hexagonkt/.github/.github/workflows/graalvm_gradle.yml@master
    with:
      os: ${{ matrix.os }}
      ref: develop
      check_directory: core/build
      tasks: publishToMavenLocal -x test
